* {
  font-family: Apertura;
}

#root,
body,
html {
  background-color: #f1e9d7;
  height: 100%;
}

.loading-container {
  background-color: #f1e9d7;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.topLine-dark {
  top: 10%;
  height: 0;
  width: 100%;
  border: 1px solid #36374f;
  margin: 2.5rem 0 2rem 2rem;
}

.topLine-light {
  top: 10%;
  height: 0;
  width: 100%;
  border: 1px solid #fff;
  margin: 2.5rem 0 2rem 2rem;
}

.logo {
  height: 3rem;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  height: 10vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page {
  position: relative;
  min-height: 100vh;
  background-color: #f1e9d7;
  z-index: 10;
}

.page-dark {
  min-height: 100vh;
  background-color: #36374f;
  position: relative;
  z-index: -10;
}

.extend-page {
  min-height: 100vh;
}

.button-primary {
  outline: none;
  display: inline-block;
  background-color: transparent;
  opacity: 1;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #fff;
  height: 2.7rem;
  width: 9rem;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.button-primary:hover {
  background-color: #ffffff80;
}

.button-secondary {
  outline: none;
  float: right;
  display: block;
  background-color: #e7ab5d;
  opacity: 1;
  color: #f1e9d7;
  font-size: 20px;
  border: none;
  height: 2.7rem;
  width: 9rem;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.button-secondary:hover {
  background-color: #cf9953;
  color: #505fa3;
  opacity: 1;
}

.btn-center {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extend-page .content {
  min-height: 93vh;
  background-color: #36374f;
}

.extend-page .content-bg {
  background: url("./assets/img/home/home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 93vh;
  min-width: 65vw;
  float: left;
}

.extend-page .content-text {
  color: #f1e9d7;
  text-align: right;
  position: absolute;
  top: 130%;
  right: 0;
  width: 25rem;
  margin-right: 7rem;
}

.footer {
  display: flex;
  min-height: 7vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  font-size: 14px;
}

.footer p {
  margin: 0;
}

.page .content-bg {
  -webkit-transition: background 200ms ease-in-out 300ms;
  -moz-transition: background 200ms ease-in-out 300ms;
  -o-transition: background 200ms ease-in-out 300ms;
  transition: background 200ms ease-in-out 300ms;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
  float: left;
  position: absolute;
  top: 0;
  z-index: -5;
}

.page-dark .content-bg {
  background: url("./assets/img/intro/intro-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
  float: left;
  position: absolute;
  top: 0;
  z-index: -5;
}

.page-dark .content-text {
  background: url("./assets/img/intro/intro-element.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 80%;
  display: inline-flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80vh;
}

.question-image {
  box-shadow: 0px 3px 6px #00000029;
  z-index: 1;
}

.question-input {
  display: block;
  height: 2.7rem;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff40;
  border: 2px solid #fff;
  opacity: 0.75;
  outline: none;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 1.8rem;
  font-size: 24px;
  color: #fff;
}

.question-btn {
  display: inline-block;
}

.question-group {
  z-index: -1;
}

.question-group p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.player-wrapper {
  margin-top: 2rem;
  position: relative;
  padding-top: 39.4%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 15%;
}

.question-container {
  display: flex;
  height: 75vh;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .btn-center {
    width: 100%;
    position: absolute;
    left: 0;
    top: 70%;
  }
}
