* {
  font-family: Apertura;
}

#root,
body,
html {
  background-color: #bdc6cd;
  height: 100%;
}

h1,
p {
  color: #fff;
}

.loading-container {
  background-color: #bdc6cd;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.topLine-dark {
  top: 10%;
  height: 0;
  width: 100%;
  border: 1px solid #36374f;
  margin: 2.5rem 0 2rem 2rem;
}

.topLine-light {
  top: 10%;
  height: 0;
  width: 100%;
  border: 1px solid #fff;
  margin: 2.5rem 0 2rem 2rem;
}

.logo {
  height: 3rem;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  height: 10vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page {
  position: relative;
  min-height: 100vh;
  background-color: #bdc6cd;
  z-index: 10;
}

.home-wrapper {
  z-index: 10;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.send-wrapper {
  z-index: 10;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.img-slider {
  z-index: 10;
  width: 100vw;
  height: 30vh;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.line-break {
  width: 100%;
  height: 75%;
}

.home-logo {
  position: absolute;
  width: 20%;
}

.home-element {
  position: absolute;
  width: 37%;
  -webkit-animation: spin 17s linear infinite;
  -moz-animation: spin 17s linear infinite;
  animation: spin 17s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.page-dark {
  min-height: 100vh;
  background-color: #36374f;
  position: relative;
  z-index: -10;
}

.extend-page {
  min-height: 100vh;
  position: relative;
}

.button-primary {
  outline: none;
  display: inline-block;
  background-color: transparent;
  opacity: 1;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #fff;
  height: 3.3rem;
  width: auto;
  padding: 0 1.8rem;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.button-primary:hover {
  background-color: #ffffff80;
}

.button-secondary {
  outline: none;
  float: right;
  display: block;
  background-color: #e7ab5d;
  opacity: 1;
  color: #bdc6cd;
  font-size: 20px;
  border: none;
  height: 2.7rem;
  width: 9rem;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.button-secondary:hover {
  background-color: #cf9953;
  color: #505fa3;
  opacity: 1;
}

.video-btn {
  width: 100vw;
  text-align: center;
  z-index: 10;
  position: absolute;
  bottom: 7%;
}

.home-image-btn {
  width: 100vw;
  text-align: center;
  z-index: 10;
  position: absolute;
  bottom: 25%;
}

.home-image {
  z-index: 10;
  position: absolute;
  width: 100%;
  left: 0;
  top: 20%;
}

.btn-center {
  z-index: 10;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extend-page .content {
  min-height: 93vh;
  background-color: #36374f;
}

.extend-page .content-bg {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 86%;
  min-width: 100%;
  float: left;
  position: absolute;
  top: 4%;
  z-index: 10;
}

.extend-page .content-text {
  color: #bdc6cd;
  text-align: right;
  position: absolute;
  top: 130%;
  right: 0;
  width: 25rem;
  margin-right: 7rem;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  min-height: 7vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  font-size: 14px;
}

.footer-line {
  width: 80%;
  border-top: 1px solid #fff;
  position: absolute;
  bottom: 7%;
}

.footer p {
  font-size: 16px;
  margin: 0;
}

.footer a {
  color: #fff !important;
  font-size: 16px;
  margin: 0;
}

.next,
.prev {
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 21%;
}

.prev {
  left: 21%;
  transform: scale(-1);
}

.img {
  position: absolute;
  max-width: 260px;
  max-height: 260px;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.page .content-bg {
  -webkit-transition: background 200ms ease-in-out 300ms;
  -moz-transition: background 200ms ease-in-out 300ms;
  -o-transition: background 200ms ease-in-out 300ms;
  transition: background 200ms ease-in-out 300ms;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  min-width: 100%;
  float: left;
  position: fixed;
  top: 0;
  z-index: -5;
}

.page .content-text {
  background: url("./assets/img/intro/intro-element.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 80%;
  display: inline-flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80vh;
}

.question-image {
  box-shadow: 0px 3px 6px #00000029;
  z-index: 1;
}

.question-input {
  display: block;
  height: 2.7rem;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff40;
  border: 2px solid #fff;
  opacity: 0.75;
  outline: none;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 1.8rem;
  font-size: 24px;
  color: #fff;
}

.question-btn {
  display: inline-block;
}

.question-group {
  z-index: -1;
}

.question-group p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.player-wrapper {
  z-index: 10;
  margin-top: 2rem;
  position: relative;
  padding-top: 39.4%;
}

.react-player {
  position: absolute;
  top: 15%;
  left: 15%;
}

.question-container {
  display: flex;
  height: 75vh;
  justify-content: space-between;
  align-items: center;
}

.summary-container {
  display: flex;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .btn-center {
    width: 100%;
    position: absolute;
    left: 0;
    top: 70%;
  }
}
